# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# OS Specific
.DS_Store
Thumbs.db

# Project specific artifacts and media
auto-editor
*.MP4
*.mp4
*.ass
*.mkv
*.avi
*.mov

# Database local
data.db
*.db

# Thumbnail cache
.thumbnails/

# Upload folder (videos uploaded by users)
upload/
!upload/.gitkeep
!upload/processados/.gitkeep

