name: auto_edit_video_gui
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  dartantic_ai: ^2.2.0
  flutter_dotenv: ^6.0.0
  google_fonts: ^6.3.3
  file_picker: ^10.3.8
  desktop_drop: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
